body{
    font-size: 32pt;
}
#gameBoard {
    margin: auto;
    width: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.cell {
    text-align: center;
    width: 50px;
    height: 50px;
    border-style: solid;
}

h1 {
    text-align: center;
}